.sidebar {
  background-image: radial-gradient(
    circle 580.6px at 10% 40%,
    rgb(26, 0, 61) 30%,
    rgb(0, 0, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .upper__container {
    .brand {
      cursor: pointer;
      img {
        height: 8rem;
      }
    }
    .links {
      li {
        padding-right: 0;
        list-style-type: none;
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.2rem;
        svg {
          color: white;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
